.resume{
    border: 1px solid black;
    width:70%;
    /* margin:50px auto; */
    /* display: flex;
    flex-direction: column; */
    overflow:auto;
    height:100%
}
.input-tag{
    width:70%;
    padding:10px;
}


.skills-ul{
    list-style: none;
    padding-left:5px
}

.skills-ul li{
    margin-top: 5px !important;
}
.col-1{
    width:100%;
    height:30%;
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.col-2{
    width:100%;
    min-height:70%;
    display: flex;
    flex-direction: row;
}
.left-col-1{
    width:40%;
    background-color: #faf9f8;
    
}
.right-col-1{
    width:60%;
}

body{
    margin:0;
    padding: 0;
}
.main-container{
    margin-top:10px;
    width:100%;
    height: 100vh;
    display:flex;
    flex-direction: row;

}
i{
    padding-right: 5px;
}

.contact-container ul{
    list-style:none;
    padding-left: 0px;
}
.contact-container ul li{
    margin-top:25px;
}

.header{
    color:#b27a56;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: bold;
}
#textarea-tag{
    width:100%;
}
#file-btn{
    position:absolute;
    bottom:7px;
}

.right-part{
    width:60%;   
    height:100%;
}
.right-part p{
    
    margin-left:10px;
}
.form-input{
    padding:10px;
    width:90%;
    margin-top: 10px;
    display:block;
}
.form-select{
    padding:10px;
    width:96%;
    margin-top: 10px;
    /* border:2px solid black; */
}
.form-button{
    padding:10px;
    width:96%;
    margin-top:10px;
    background-color:#b27a56;
    border:none;
    color:#faf9f8;
    
    /* border:2px solid black; */
}
.left{
    background-color: #faf9f8;
    width:40%;
    padding:13px;  
    height: auto;
}
.left-ul{
    list-style: none;
    padding-left: 15px;
}
.left-ul li{
    margin-top: 25px;
}

.right{
    width:60%;
    padding: 20px; 
}
.image-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    border:1px solid black;
    width:80%;
    position: absolute;
    top:25px;
    height:150px;
}
.option-container{
    width:25%;
}
.option-container button{
    width: 50%;
    margin-bottom:10px;
    height:50px;
}
.profile-img{
    border-radius: 50%;
    width:100px;
    height:100px;
}
.center-row{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}
.center-col{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.left-part{
    height: 100%;
    width:40%;
    position: relative;
}
.role{
    color:#b27a56;
    font-size: 20px; 
    margin-top:10px;
}
.name{
    color:#302e2a;
    font-size: 40px;
    margin-bottom:0px;
}
